<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woxel.app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application android:label="Woxel" android:allowBackup="true">
        <activity android:name="io.flutter.embedding.android.FlutterActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service android:name="com.woxel.app.WoxelForegroundService" android:foregroundServiceType="dataSync" android:exported="false" />
    </application>
</manifest>
